#sortable {
  list-style-type: none;
  padding: 0;
  width: 60%;
  margin: auto;
    }
.center
{
  text-align: center;
  width: 60%;
  margin: auto;
  margin-bottom: 5%;
}


#sortable li {
  margin: 5px 5px 5px 5px;
  padding: 1px;
  float: left;
  width: 250px;
  height: 250px;
}

.container {
    position: absolute;
    color: white;
    text-align: center;
}
#sortable img{
  position: absolute;
  width: 250px;
  height: 250px;
  background: rgba(0, 0, 0, 0.6)
}


.imgBackgroud {
  z-index: 2;
}

.imgText{
    position: absolute;
    top: 1em;
    left: 1em;
    z-index: 3;
}


.helper {border-color: #3498db;}
